<h2> Create a list </h2>

<%= simple_form_for (@list) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: 'Name your list', input_html: { style: "display: none;"} %>
  <%= f.input :name, placeholder: 'e.g. Birthday lunch', label: false, input_html: { id: "nameInput", class: "hidden" } %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
