<h2> Create a list </h2>

<%= form_for(@list, url: list_path(@list)) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :ingredient %>
    <%= f.text_field :ingredient, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
